<a href="https://colab.research.google.com/github/asadrehman12/asadrehman12/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# we are going to learn about what is list in python
# so whenever we want to used list in python we used "list" keyword and used square braket as we used for matrix in mathematics.
# there are certain properties of list.
# we can easily insert, delete any kind of elements in it.
# we can used any data type in a list like integer, float, string and booleann(true,false)
# in other words we can say that list is mutable or changeable.

In [ ]:
chezain=["asad rehman","taha azam khan",5, True, False]
chezain

['asad rehman', 'taha azam khan', 5, True, False]

**we can create empty list by simply used list key word and not write any thing in square braket**....

In [ ]:
my_list=[]
print(my_list)

[]

In [ ]:
empty_list= list()
print(empty_list)

[]

**we can easily access any element in the list by using some specific key**

In [ ]:
Tokri= ["asad rehman", "taha azam khan",6.6, "day","night"]
print(Tokri[1]) # here we use indexing for getting this element

taha azam khan

**we can take a piece of elements from a list** **and this is called silicing**

In [ ]:
tokri=["computer","cpu","keyboard","mouse",5.6,10,True]
tokri[0:5]

['computer', 'cpu', 'keyboard', 'mouse', 5.6]

**setp wise indexing**
**in this wa we can take silice from code by our desire.**
**Bsic sntax= name_of_variable[start vale of index:end value:hpw many steps we want to index]**

In [ ]:
# as we print the above cell so we can use the above list variable which is tokri
tokri[1:4:3]

['cpu']

We can reverse our list by typing some key. which is given as
list_name=[::-1]

In [ ]:
basket = ["ali","asad",500,100, True, False]

In [6]:
# the reverse version of the above cell is given below...

Ulti_basket= basket[::-1]
print(Ulti_basket)

[False, True, 100, 500, 'asad', 'ali']

**we can replace some thing in list. on the other hand we can say that we can change things in the list. And the syntax that is used for this is list_name[domain:range]=[x,y] here in place of x and y we used those numbers which we want to change or which we want to add in the list....**

In [8]:
thalaaa= [2,3,4,5,6,7,8,9,10]
thalaaa

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# here is the siliced version of the above list..
thalaaa[0:5]=[200,700]
thalaaa

[200, 700, 10]

**Now we are going to perform different operation list like we perform different operations on numbers in mathematics..The operation is concatination which main aim is to add two lists.**

In [11]:
# there many ways of doing this action..we can search it on google.
# we discuss some of here..
list_1=[1,2,3,4,5,6]
list_2=["asad","taha",5,6]

jama_list= list_1+list_2
print(jama_list)

[1, 2, 3, 4, 5, 6, 'asad', 'taha', 5, 6]

In [12]:
list_1+=list_2 # this is basically the 2nd rule for doing to connect two list in python.
print(list_1)

[1, 2, 3, 4, 5, 6, 'asad', 'taha', 5, 6]

**We can replicate the items in the list by typing list_name* number of time we want to replicate the items in the list. we can multiply by any number.**

In [14]:
new_list= list_1*4
new_list
# in this we print the requried code in column way..we can also represent this in horizontal way.

[1,
 2,
 3,
 4,
 5,
 6,
 'asad',
 'taha',
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 'asad',
 'taha',
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 'asad',
 'taha',
 5,
 6,
 1,
 2,
 3,
 4,
 5,
 6,
 'asad',
 'taha',
 5,
 6]

**we can add elements in an list in many ways some of them are discussed below.
There is a important point that the append word accepts only 1 elements in its bracket.**

In [10]:
boxes=["asad","taha","azam","khan"]
boxes
dadaa=boxes.append("ali")
boxes

['asad', 'taha', 'azam', 'khan', 'ali']

**An important point arises here: If we want to add more than 1 element at the end of the list, what should we do?
the simple answer for this is we used the pre saved word in python that .extend.**

In [11]:
new_list=["sajjad","ghulam zohra"]  # the syntax for this is we declare new list
# then type the name of that list in which we want to add some thing than put that and after dot put the extent keyword and in bracket write the name of that new list than type the name of tat old list in which we want to add these things
boxes.extend(new_list)
boxes

['asad', 'taha', 'azam', 'khan', 'ali', 'sajjad', 'ghulam zohra']

*we can insert the things at any point insides the list.**

In [12]:
# for this we used syntax list_name(in which we want to insert something).insert(position,"the thing we want to insert")
# Than we call the name of that list in which we want to insert the requried thing.

boxes.insert(1,"rehman")
boxes

['asad', 'rehman', 'taha', 'azam', 'khan', 'ali', 'sajjad', 'ghulam zohra']

**we can remove anything from the list by POP keyword**

In [13]:
# Syntax :;   list_name.pop(position number from which we want to remove something)
boxes.pop(3)
boxes
# here we can easily see that the word azam on third place has been removes by pop word

['asad', 'rehman', 'taha', 'khan', 'ali', 'sajjad', 'ghulam zohra']

**We can clear all the elements in the list by typing .clear **

In [14]:
big_box=["apple","banana","orange","samosa"]
big_box.clear()
big_box

[]

**we can arranged or sort numbers in the list by just typing .sort**

In [16]:
num_list=[11,2,3,4,45,56]
num_list.sort()
num_list

[2, 3, 4, 11, 45, 56]

**GOOD WORK ASAD REHMAN...**